.whyWe {
  padding-top: 150px;
  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  .title {
    font-family: "Roboto";
    font-weight: 800;
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 70px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    max-width: 910px;
    width: 100%;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid white;
    max-width: 370px;
    width: 100%;
    padding: 30px 20px;
    box-shadow: #fff 0px 14px 28px, rgb(246, 244, 244) 0px 10px 10px;
    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      font-family: "Roboto";
      margin-bottom: 11px;
    }

    img {
      width: 70px;
      margin-right: 35px;
    }
  }
}
@media(max-width:1110px){
  .whyWe{
    .items{
      justify-content: center;
    }
  }

}

@media (max-width: 870px) {
  .whyWe {
    .text {
      font-size: 15px;
    }
  }
}
@media (max-width: 500px) {
  .whyWe {
    .title {
      font-size: 27px;
      line-height: 32px;
    }
    .text {
      font-size: 11px;
    }
    .item{
      img{
        width: 50px;
      }
      h3{
        font-size: 20px;
      }
    }
  }
}
