.header{
    height: 100vh;
    background: url('../../public/images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
@media(max-width:1024px){
    .header{
        height: 100%;
    }
}