.images {
      width: 400px;
}
.slick-dots{
    position: static;
}
.slick-dots li button:before{
    font-size: 15px;
    line-height: 8px;
    color: #fff;
}
.slick-arrow{
    display: none !important;
}
.box-images {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: max-content;
}
.images{
    width: 375px;
    object-fit: contain;
    display: block;
    height: 300px;
}

@media(max-width:1280px){
    .images{
        width: 300px;
    }
}
@media(max-width:1000px){
    .images{
        width: 250px;
    }
}
@media(max-width:769px){
    .images{
        width: 150px;
    }
}
@media(max-width:480px){
    .images{
        width: 100px;
    }
}

